<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>222122</title>
</head>
<body>
	<h2>
		Меня зовут
		<b>{{name}}</b>, i'm
		<b>{{age}}</b> olg and i love
		<a href="https://www.google.com.ua/search?hl=ru&source=hp&ei=lL-pXKS0B4qurgS6xa6QCg&q={{city}}&btnK=%D0%9F%D0%BE%D0%B8%D1%81%D0%BA+%D0%B2+Google&oq={{city}}&gs_l=psy-ab.3..0i10i42j0j0i3j0l3j0i10j0j0i10j0.1340.3351..4050...2.0..0.281.1208.0j2j4......0....1..gws-wiz.....6..35i39j0i131.bAlcu38mwL4">{{city}}</a>
	</h2>

	
</body>
</html>